<div id="confirmation-modal">
  <!-- As we are using Angular Material's dialog, we use the mat-dialog-content and mat-dialog actions tags -->
  <mat-dialog-content>
    <p class="subtitle">Confirmación</p>
    <p class="title">{{ data.content }}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="button-line">
      <app-button [buttonOptions]="extraClass.cancelButtonOptions"></app-button>
      <app-button [buttonOptions]="extraClass.deleteButtonOptions"></app-button>
    </div>
  </mat-dialog-actions>
</div>
