@if(extraClass.isDataLoaded){

<div id="tornillos-page">
  <div class="config-line">
    <mat-icon (click)="openShuffleColumnsModal()">settings</mat-icon>
  </div>
  <app-table
    [dataSource]="extraClass.dataSource"
    [displayedColumns]="extraClass.displayedColumns"
    [paginatorOptions]="extraClass.paginatorOptions"
    [deleteAction]="deleteTornillo.bind(this)"
  ></app-table>

  <footer>
    <app-button [buttonOptions]="extraClass.addProductButtonOptions">
    </app-button>
  </footer>
</div>
} @else {

<app-loader></app-loader>
}
