<div id="login-modal">
  <p mat-dialog-title>Inicia sesión</p>
  <mat-dialog-content>
    <form (ngSubmit)="submitForm()" [formGroup]="loginForm">
      <div class="label-and-input">
        <label for="username">Usuario</label>
        <mat-form-field appearance="outline">
          <input name="username" matInput formControlName="username" />
        </mat-form-field>
      </div>
    </form>
    <div class="button-line">
      <app-button [buttonOptions]="cancelButtonOptions"></app-button>
      <app-button [buttonOptions]="submitButtonOptions"></app-button>
    </div>
  </mat-dialog-content>
</div>
