<main id="complete-layout">
  <header>
    <div class="logo-and-text" (click)="goToHome()">
      <img
        ngSrc="/images/logoMercadona.webp"
        width="32"
        height="32"
        alt="Logo mercadona"
      />
      <p>Mercadona</p>
    </div>

    @if(extraClass.isLogged){
    <app-button [buttonOptions]="extraClass.buttonOptionsLogout"></app-button>
    }@else {
    <app-button [buttonOptions]="extraClass.buttonOptionsLogin"></app-button>
    }
  </header>
  <ng-content></ng-content>
</main>
