@use "@angular/material" as mat;

:root {
  --primary-color: #3a7e45;
  --secondary-color: #51565a;
  --tertiary-color: #aa2223;
  --quaternary-color: #d6d9df;
  --quintenary-color: #f2f4f8;
  --sextary-color: #eaecef;
  --white: #fff;
  --black: #000;

  --mercadona-typografy-color: #383d41;
  --typografy-color: #222529;
  --label-typografy-color: #666b6e;

  --input-border-color: #e5e5e5;

  --primary-font: "Roboto", sans-serif;

  --bold: 600;
  --semiBold: 500;
  --regular: 400;
  --light: 300;

  @include mat.dialog-overrides(
    (
      container-shape: 0px,
      container-color: var(--white),
    )
  );

  @include mat.form-field-overrides(
    (
      outlined-container-shape: 0px,
      outlined-focus-outline-color: var(--input-border-color),
      outlined-outline-color: var(--input-border-color),
    )
  );
  @include mat.table-overrides(
    (
      background-color: var(--white),
      header-headline-color: var(--typografy-color),
      header-headline-font: "Arial, sans-serif",
      header-headline-size: 16px,
      header-headline-weight: var(--semiBold),
    )
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--primary-font);
}

*[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.mat-icon {
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.label-and-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  > label {
    font-weight: var(--semiBold);
    color: var(--label-typografy-color);
  }
}

/**
  Table styles
**/

.table-container {
  max-height: calc(100dvh - 73px - 24px - 4rem - 58px);
  overflow-y: auto;
  position: relative;

  mat-paginator {
    position: sticky;
    bottom: 0;
    left: 0;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: #fff;
  &:nth-child(even) {
    background-color: var(--quintenary-color);
  }
}

thead {
  background-color: var(--quaternary-color) !important;
  border: none;
  position: sticky;
  top: 0;
}
th,
td {
  border-bottom-style: none !important;
  border-right: 1px solid var(--sextary-color);

  &:last-child {
    border-right: none;
  }
}
