mat-icon {
  cursor: pointer;
  transition: all 0.3s;
  color: var(--tertiary-color);
  &:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
  }
}

.text-align-end {
  text-align: end;
}
